body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 3px;
    margin-top: 10px;
}

#category button {
    background-color: #282828;
    color: white;
    font-size: 13px;
    width: 90px;
    height: 30px;
    margin: 7px;
    border: none;
    border-radius: 10px;
}


#sentence {
    font-family: 'Cairo', sans-serif;
    font-size: 25px;
    margin: 10px;
    margin-top: 30px;
    color: #930b0b;
}

#recordingsList button {
    font-size: 16px;
    margin: 20px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

#startRecord {
    background: url(images/microphone-black-shape.png) no-repeat center;
    background-size: 20px 20px;

    background-color: #4CAF50;
    border: none;
    color: white;
    
}

#startRecord:disabled {
    opacity: 0.5;
}

#stopRecord {
    background: url(images/pause.ico) no-repeat center;
    background-size: 20px 20px;
    background-color: #646464;
    border: none;
    color: white;
}

#stopRecord:disabled {
    opacity: 0.5;
}

#deleteRecord {
    background: url(images/trash-2-48.ico) no-repeat center;
    background-size: 25px 25px;
    background-position-x: 8px ;
    background-color: #f44336;
    border: none;
    color: white;
}

#deleteRecord:disabled {
    opacity: 0.5;
}

audio {
    border-radius: 20px;
    background-color: #17183b;
}

#controls {
    margin: 20px;
    margin-top: 40px;
}

#send {
    width: 140px;
    font-size: 23px;
    color: white;
    margin: 30px;
    background-color: #4CAF50;
    border-radius: 10px;
    border-color: #33b562;
}

#previous {
    width: 110px;
    font-size: 23px;
    color: white;
    margin: 10px;
    float: left;
    background-color: #000000;
    border-radius: 10px;
    border-color: #646464;
}

#previous:disabled {
    opacity: 0.3;
}

#next {
    width: 110px;
    font-size: 23px;
    color: white;
    margin: 10px;
    float: right;
    background-color: #000000;
    border-radius: 10px;
    border-color: #646464;
}

#next:disabled {
    opacity: 0.3;
}

#recordingStatus {
    margin: 0px;
    font-size: 15px;
    color: #40a34a;
    animation-name: ani;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes ani {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0.75;
    }
}

#recording {
    padding: 10px;
    height: 10px;
}